.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
li {
  border: 1px;
  width: 28%;
  height: 100px;
  background: tomato;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  background: blue !important ;
}
